<div class="login-wrapper">
    <div id="login">
      <div class="card-header">Login</div>
      <div class="card-body">
         <form class="login-form">
           <div class="form-group">
             <input type="text"/>
             <label for="username">Username:</label>
           </div>
           <div>
             <input type="password" id="password-login" />
             <label for="password-login">Password:</label>
           </div>
           <div class="login-buttons mt-2">
             <button type="submit">Login</button>
             <a href="/signup" id="signup-link">Sign Up </a>
           </div>
         </form>
      </div>
    </div>
</div>